<p> Below is the account information for #NAME#: 
</p>
<table border=1 borderColor=#E0E0E0><tr><td>
<table>
<tr><th bgcolor="#E0E0E0">Account Status</th><th width=100px></th><th bgcolor="#E0E0E0">Current Invoice</th></tr>
<tr valign=top><td border=1>#ACCOUNT_STATUS#</td><td></td><td border=1>#CURRENT_INVOICE#</td>
</table></td></tr></table>

<p>If you have discovered a problem, here is the contact info for help!</p>
<ul>
<li>For Billing Issues: Treasurer - <a href=mailto:treasurer@techvalleycenterofgravity.com>treasurer@techvalleycenterofgravity.com</a>
<li>For Volunteer Credit Issues: Volunteer Coordinator - <a href=mailto:volunteer@techvalleycenterofgravity.com>volunteer@techvalleycenterofgravity.com</a>
</ul>
</p>
<p>If the status above indicates that you should have access and you are <b>still</b> not able to use your RFID card, <br>please contact <a href=mailto:ttongue@tvcog.net>ttongue@tvcog.net</a> to check the issue further.</p>
<br><Br>



