<p>Below are some of the functions that are currently enabled through the web interface for the TVCOG RFID Card System. More will be added as time goes on.</p>

<dl>
<!--<dt><a href=workspace.py>Workspace Signout</a>
<dd>This web page allows users to sign out a workspace (workbench, desk, etc) for a 24 hour period. Any workspace that is left unattended for more than 30 minutes without one of these slips risks being cleared into the lost+found bin. -->


<dt><a href=sendDayPay.py>Send Day Pass / QR Code</a>
<dd>Members can use this page to receive a QR code that provides access to the space. For associate members, a day pass is issued as a QR code that once used will expire at the end of the day. For super users and others with 24/7 access, the QR code issued is an alternative to using a QR code to enter the space.
<br><Br>
<dt><a href=accountStatus.py>Account Status</a>
<dd>To check on your membership status, use this page to see if you're up to date on payments and what your card access status is currently.
</dl>
<br><br>

