<p>Below is the list of sign-ins at the Tech Valley Center of Gravity based on the selected date:</p>
<p>
#FORMOUT#
</p>
<table border=0 bgcolor=#404040>
<tr><td colspan=2>
#SIGNED_IN_LIST#
</td></tr>
</table>
<i><font size=-1>Notes: 
<ul>
<li>The RFID data is compiled at 3am for the previous day, so this tool does not show today's RFID entries. 
<li>The "NF" flag for RFID data indicates a card was not found. This can indicate a non-super-user member trying to access the space on a day of the week where only super users can access the space.
<li>The "TZ" flag for RFID data indicates a card that tried to access the space outside of its defined time range. An example of this would be a full user trying to access the space outside of open hours.
</ul>




