<table border=0><TR><td width=525>
<p>To have one of your day passes sent to your e-mail address as a QR code, complete the form below. If you are not yet a member, please use our <a href=https://ssl.techvalleycenterofgravity.com/billing/signup.py target=_new>Online Membership Signup Form</a>.</p>

<table border=0 cellpadding=0 cellspacing=0>
<tr><th width=500 bgcolor=#404040><u>Member Info</u></th>
</tr>
<tr><td valign=top bgcolor=#404040>
<p>Please provide the information below, and if you have a day pass available, one will be e-mailed to you:</p>
<p class=error><!--ERROR_MESSAGE--></p>
<form action=sendDayPass.py method=POST><p align=center><center>
<table border=1 cellpadding=0 cellspacing=0 bgcolor=#404040>
<tr>
<td> 
<table border=0 bgcolor=#404040 width=450>
<tr><td align=right width=50%>Member Number: </td><td><input type=text size=4 name=id></td></tr>
<tr><td align=right width=50%>ZIP:</td><td><input type=text size=5 name=zip></td></tr>
<tr><td colspan=2 align=center><center><input type=submit value="Send Day Pass!"</center></td></tr>
</table></td></tr>

</td></tr></table>
</td></tr></table>


</td></tr></table>
