<p>Sometimes a project takes longer than expected, or needs to be continued overnight and some workspace needs to be set aside to allow that. The goal of this signout system is to enable project usage of the workspaces at TVCOG without degrading to permanent clutter.</p>

<h2>How it works</h2>
<p>Need a workbench, desk or other workspace for up to 24 hours? Simply fill in your member ID number and your ZIP code below and print the resulting page. Place the printout on the work area and your stuff is safe until the slip expires. Areas without a slip are subject to be cleared into the lost+found bin.
</p>
<form action=workspace.py method=POST>
<table border=1 cellpadding=0 cellspacing=0>
<tr>
<td><table border=0>
<tr><td>Member Number: </td><td><input type=text size=4 name=id></td></tr>
<tr><td>ZIP:</td><td><input type=text size=5 name=zip></td></tr>
<tr><td colspan=2 align=center><center><input type=submit value="Print Reservation Slip"</center></td></tr>
</table></td></tr></table>
</form>


