<table border=1 cellpadding=3><tr><td>
<table border=1 cellpadding=3><tr><td>
<table border=1 cellpadding=3><tr><td>
<p>This slip grants a temporary workspace permit for the following member's project. This slip expires on #EXPIRE_DATETIME# and after that, the contents on this workspace can be cleared. If you have any questions, comments or concerns about the materials on this desk, please contact the member using the info below.
</p>
<table border=1>
<tr valign=top><td valign=top>
<table>
<!--<td>Member Number:</td><td>#MEMBERSHIP_ID#</td> <input type=hidden name=member_id value=#MEMBERSHIP_ID#>
</td>
<tr>
<td>Membership Level:</td><td>#MEMBERSHIP_LEVEL#</td> 
</tr>-->
<tr><td>Name:</td><td>#FIRST_NAME# #LAST_NAME#</td></tr>
<tr><td>E-mail:</td><td>#EMAIL#</td></tr>
<tr><td>Phone:</td><td>#PHONE#</td></tr>
</table>
</td></tr></table>
<h1>EXPIRES: #EXPIRE_DATETIME#</h1>
</td></tr></table>
</td></tr></table>
</td></tr></table>
