<table border=0><TR><td width=525>
<p>Purchase of the day pass(es) is complete and they have been applied to your account:</p>

<table border=0 cellpadding=0 cellspacing=0>
<tr><th width=500 bgcolor=#E0E0E0><u>Purchase Receipt</u></th>
</tr>
<tr><td valign=top bgcolor=#E0E0E0>
<table border=1 cellpadding=0 cellspacing=0 bgcolor=#E0E0E0>
<tr>
<td> 
<table border=0 bgcolor=#E0E0E0 width=450>
<tr><td align=right width=50%>Member Number: </td><td>#MEMBER_NUMBER#</td></tr>
<tr><td align=right width=50%>Name:</td><td>#MEMBER_NAME#</td></tr>
<tr><td align=right width=50%>E-mail:</td><td>#MEMBER_EMAIL#</td></tr>
<tr><td align=right width=50%>Purchased:</td><td>#PURCHASE#</td></tr>
</table></td></tr>
</td></tr></table>
</td></tr></table>

</td></tr></table>
<p>You can retrieve a day pass for TVCOG entry using the <a href=http://systems.techvalleycenterofgravity.com/cardsystem/sendDayPass.py>QR Day Pass Retrieval Page</a>.</p>
