<p>This set of forms will guide you through the membership signup process for the Tech Valley Center of Gravity. Please use your coupon code below and click "Next" to provide your membership information.</p>
<p class=error><!--ERROR_MESSAGE--></p>
<center>
<form action=cert_signup.py method=POST>
<input type=hidden name=next_step value=2>
<input type=hidden name=memberplan value="super">
Coupon Code:<input type=text length=40 size=40 name=couponcode>
<input type=submit value="Next>>"></form>
</form>
</center>
