<p>This set of forms will guide you through the coworking membership signup process for the Tech Valley Center of Gravity. Coworking memberships allow 24/7 access to the space, but do not include access to the equipment. If you are interested in a standard membership, please <a href=signup.py>visit this page instead</a>.
<form action=coworking_signup.py method=POST>
<input type=hidden name=next_step value=2>
<!--break-->
<input type=hidden name=plan value="coworking">
<input type=submit value="Next>>"></form>
</form>
