<p>Thank you for using the online signup process for the Tech Valley Center of Gravity. Below are the results of the billing system interaction with the payment gateway:</p>
#RESULTS#
<p>If you have any questions, comments or concerns about the output of this payment system, please contact the <a href=mailto:treasurer@techvalleycenterofgravity.com>treasurer</a>. Thank you for using the billing system to maintain your membership in the Tech Valley Center of Gravity!</p>

<p class=important>IMPORTANT NEXT STEPS:</p>
<p>You've taken the first important step toward becoming a member of the Tech Valley Center of Gravity, but you need to complete the following steps to finish the new member process:</p>
<ul>
<li><li> You can request an 
      access control fob to let you into the Center of Gravity using
      the <a href=http://www.tvcog.net/access-control-fob-request-form/ target=_new>access fob request form</a>. This form requires a good quality headshot (think passport!) for our records for identification purposes.   
We will process the request and contact you when it is ready (usually within 3 business days).
<li>If you have not already done so, please <a href=http://www.facebook.com/groups/capitaldistrictindustrialclub/ target=_new>join the Facebook page</a> to keep in touch with other members, and check the <a href=http://www.tvcog.net/index.php/my-calendar/ target=_new>calendar</a> frequently for new events!
</ul>

<p>Thank you for becoming a part of the Tech Valley Center of Gravity!
