<table>
<tr><th>Membership Plan Cost</th></tr>
<tr><td>   Setup Fee:</td><td>         #SETUP#</td></tr>
<tr><td>   Monthly Fee:</td><td>       #RATE#</td></tr>
<tr><td colspan=2 ><hr> </td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><th>Current Invoice</th></tr>
<tr><td>   Current Billing Period:</td><td>    #BILLING_PERIOD#</td></tr>
<tr><td>   Amount For Current Billing Period:</td><td>     #CURRENTLY_DUE#</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>   Amount to be billed TODAY:</td><td>     #CURRENTLY_DUE#</td></tr>
<tr><td>   Amount to be Charged Every Month After Current Billing Period:</td><td>     #RATE#</td></tr>
</table>

