<p>This set of forms will guide you through the organizational membership signup process for the Tech Valley Center of Gravity. Organizational memberships are purchased for a specific number of licenses which determines how many simultaneous users can be in the facility. All organizational memberships share the following features:
    <ul type=square>
    <li>Each user can have their own membership card
    <li>Each user is eligible for equipment training classes    
    <li>Each license purchased may be used by any (safety trained) user of the purchasing organization.
    <li>Access to the makerspace 24/7
    <li>Active users may bring guests under conditions common to all guests (no unsupervised machine/tool usage, signed guest waivers, etc.)
    </ul></li><br/>


Please select the type of membership plan you wish to enroll in:
<form action=organization_signup.py method=POST>
<input type=hidden name=next_step value=2>
<!--break-->
<ol> <input type=radio name=plan value="organization_1"><strong>Organization Membership - 1 license</strong> - $200/month 
    <ul type=square>
    <ul><li>As many users of organization as desired can be approved to use a single license
    </ul></li><br/>
</ol>

<ol> <input type=radio name=plan value="organization_2"><strong>Organization Membership - 2 license</strong> - $400/month 
    <ul type=square>
    <ul><li>As many users of organization as desired can be approved to use the 2 licenses
    </ul></li><br/>
</ol>

<ol> <input type=radio name=plan value="organization_3"><strong>Organization Membership - 3 license</strong> - $600/month 
    <ul type=square>
    <ul><li>As many users of organization as desired can be approved to use the 3 licenses
    </ul></li><br/>
</ol>

<ol> <input type=radio name=plan value="organization_4"><strong>Organization Membership - 4 licenses</strong> - $800/month 
    <ul type=square>
    <ul><li>As many users of organization as desired can be approved to use the 4 licenses
    </ul></li><br/>
</ol>

<ol> <input type=radio name=plan value="organization_5"><strong>Organization Membership - 5 license</strong> - $1000/month 
    <ul type=square>
    <ul><li>As many users of organization as desired can be approved to use the 5 licenses
    </ul></li><br/>
</ol>




<input type=submit value="Next>>"></form>
</form>
