<p>This set of forms will guide you through the application process for becoming a SPECTRVM service provider for the Tech Valley Center of Gravity. The first phase sets up the billing process, which will be refunded if your company is not selected to join SPECTRVM. Please select the type of SPECTRVM membership plan for your organization:
<form action=spectrvm_signup.py method=POST>
<input type=hidden name=next_step value=2>
<!--break-->
<ol> <input type=radio name=plan value="spectrvm_standard"><strong>SPECTRVM Standard</strong> - $200/month, includes:
    <ul type=square><li>Two super-user memberships with 24/7 access.
    <li>Membership and access to the SPECTRVM network
    <li>Officially recognized as a SPECTRVM provider
    <li>Requires monthly onsite time at SPECTRVM office to meet with entrepreneurs and clients
    </ul></li><br/>
<input type=radio name=plan value="spectrvm_onsite"><strong>SPECTRVM Onsite</strong> - $100/month 
    <ul><li>One super-user membership with 24/7 access.
    <li>Membership and access to the SPECTRVM network
    <li>Officially recognized as a SPECTRVM provider
    <li>Requires office space rental in Quackenbush building on 2nd, 3rd or 4th floor.
    </ul></li><br/>
<input type=radio name=plan value="spectrvm_colo"><strong>SPECTRVM Colo</strong> - $200/month
    <ul><li>One super-user membership with 24/7 access.
    <li>One 6'x8' innovation space.
    <li>Membership and access to the SPECTRVM network
    <li>Officially recognized as a SPECTRVM provider
    </ul></li><br/>
</ol>
<input type=submit value="Next>>"></form>
</form>
