<p> According to the member database, you have an account membership option that is not supported for this signup method. Please contact the treasurer at Treasurer@TechValleyCenterOfGravity.com to discuss an alternative way of establishing recurring billing for your account. Thank you!!</p>

<p>Below is a copy of your current account information for your reference:</p>
<table>
<tr>
<td>Member Number:</td><td>#MEMBERSHIP_ID#</td> <input type=hidden name=member_id value=#MEMBERSHIP_ID#>
</td>
<tr>
<td>Membership Level:</td><td>#MEMBERSHIP_LEVEL#</td> 
</tr>
<tr><td>Name:</td><td>#FIRST_NAME# #LAST_NAME#</td></tr>
<tr><td>Street Address:</td><td>#STREET_ADDR1#</td></tr>
<tr><td>Street Address:</td><td>#STREET_ADDR2#</td></tr>
<tr><td>City:</td><td>#CITY#
</td></tr>
<tr><td>State:</td><td>#STATE#</td></tr>
<tr><td>ZIP:</td><td>#ZIP#</td></tr>
<tr><td>Phone:</td><td>#PHONE#</td></tr>
<tr><td>E-mail:</td><td>#EMAIL#</td></tr>
</table>
