<p>This set of forms will guide you through the short process of setting up recurring billing for your Tech Valley Center of Gravity membership. To insure this is well integrated with the rest of the membership management system, we start with your member number below.</p>

<form action=recurring.py method=POST>
<input type=hidden name=next_step value=2>
<table border=0>
<tr><td>Member Number:</td><td><input type=text size=5 maxlength=5 name=member_id></td></tr>
<tr><td>Zip Code:</td><td><input type=text size=5 maxlength=5 name=zip></td></tr>
<tr><td colspan=2>
<input type=submit value="Next >>"></p></form></td></tr></table>
